/* Horizontal for larger screens */
@media (min-width: 640px) {
    .horizontal-spread {
      animation: horizontalSpread 1s ease forwards;
    }
  
    @keyframes horizontalSpread {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }
  
  /* Vertical for mobile screens */
  @media (max-width: 639px) {
    .vertical-spread {
      animation: verticalSpread 1s ease forwards;
    }
  
    @keyframes verticalSpread {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }
  }
  