.bg-card-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.44030112044817926) 0%,
    rgba(255, 255, 255, 0.15458683473389356) 35%
  );
}

/* @keyframes slide-back-and-forth {
    0%, 100% {
      transform: translateX(30%);
    }
    50% {
      transform: translateX(-30%); 
    }
  } */


  @keyframes slide-pendulum {
    0% {
      transform: translateX(30%); /* Start with the first card fully visible */
    }
    50% {
      transform: translateX(-30%) ; /* Move to show the last card */
    }
    100% {
      transform: translateX(30%); /* Return to the first card */
    }
  }


  @media (max-width: 768px) {
    @keyframes slide-pendulum {
      0% {
        transform: translateX(200%); /* Start with the first card fully visible */
      }
      50% {
        transform: translateX(-200%) ; /* Move to show the last card */
      }
      100% {
        transform: translateX(200%); /* Return to the first card */
      }
    }
  }
  
  
  