/* Range input styles */
.range-track {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .range-track::-webkit-slider-runnable-track {
    height: 6px;
    background: transparent;
    border-radius: 9999px;
  }
  
  .range-track::-moz-range-track {
    height: 6px;
    background: transparent;
    border-radius: 9999px;
  }
  
  /* Thumb styling */
  .range-track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #ffffff; /* White thumb */
    border: 2px solid #00EE67; /* Green border */
    border-radius: 50%;
    cursor: pointer;
    margin-top: -12px; 
    transition: transform 0.2s ease-in-out;
  }
  
  .range-track::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #00EE67;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  /* Optional: Add hover effect */
  .range-track::-webkit-slider-thumb:hover,
  .range-track::-moz-range-thumb:hover {
    transform: scale(1.2);
  }
  

  .triangle-box {
    position: relative;
  }
  
  .triangle-box::after {
    content: '';
    position: absolute;
    bottom: -6px; /* Position the triangle just below the box */
    left: 50%; /* Center the triangle */
    transform: translateX(-50%);
    border-width: 6px; /* Size of the triangle */
    border-style: solid;
    border-color: white transparent transparent transparent; /* White top triangle */
  }
  